<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.miniproject.cafe.Mapper.OrderMapper">

    <!-- 일일 주문 번호 계산하는 서브쿼리절 -->
    <select id="findAllAdminOrders" resultType="OrderVO">
        SELECT
        T.*
        FROM (
            <!-- 일일 주문 번호 계산 -->
        SELECT
        order_id,
        u_id,
        order_status,
        total_price,
        pickup_method as orderType,
        order_time,
        total_quantity,

        <!-- 날짜가 바뀔때마다 order_num 계산 -->
        ROW_NUMBER() OVER (
        PARTITION BY DATE(order_time)
        ORDER BY order_time ASC
        ) as daily_order_num
        FROM
        orders
        ) AS T
        WHERE
        T.order_status IS NULL
        ORDER BY
        T.order_time DESC;
    </select>


    <insert id="insertOrder" parameterType="OrderVO"
            useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO orders (
            u_id,
            order_status,
            total_price,
            pickup_method,
            order_time,
            total_quantity
        )
        VALUES (
                   #{uId},
                   #{orderStatus},
                   #{totalPrice},
                   #{orderType},
                   #{orderTime},
                   #{totalQuantity}
               )
    </insert>


    <update id="updateOrderStatus">
        UPDATE orders
        SET
            order_status = #{status}
        WHERE
            order_id = #{orderId}
    </update>

</mapper>