<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
    <div class="mobile-frame">
        <div class="fixed-top">
            <header class="top-bar">
                <div class="logo-section">
                    <span class="logo-icon"><img src="/images/자바빈로고 2.png" alt=""></span>
                    <span class="logo-text"><img src="/images/자바빈로고 1.png" alt=""></span>
                </div>
            </header>
        </div>

        <th:block th:replace="${content}"></th:block>

    </div>
    <script src="/js/main.js"></script>
    </body>
</th:block>
</html>