<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./include/simpleLayout :: setContent( ~{:: .wrap} ) }">
    <div class="wrap login-container">

        <form action="register" method="post" class="login-form" id="register_form">

            <input type="text" id="email" name="email" placeholder="이메일" required
                   th:value="${memberVO.email}">
            <div class="error-message" th:if="${emailError}">[[${emailError}]]</div>

            <input type="text" id="id" name="id" placeholder="아이디" required
                   th:value="${memberVO.id}">
            <div class="error-message" th:if="${idError}">[[${idError}]]</div>

            <input type="password" id="pw" name="password" placeholder="비밀번호" required>
            <input type="password" id="pw-confirm" name="pw-confirm" placeholder="비밀번호 확인" required>

            <div id="password-error" class="error-message" th:text="${passwordError}"></div>

            <input type="text" id="uname" name="username" placeholder="닉네임 (이름)" required
                   th:value="${memberVO.username}">

            <div class="button-group">
                <input type="submit" name="submit" id="submit" value="회원가입">
                <button type="button" onclick="location.href='login'">취소</button>
            </div>

        </form>
    </div>

    <script>
        document.getElementById("register_form").addEventListener("submit", e => {
            let pw = document.getElementById("pw");
            let pwConfirm = document.getElementById("pw-confirm");
            let errorDiv = document.getElementById("password-error");

            errorDiv.textContent = "";

            if(pw.value !== pwConfirm.value) {
                errorDiv.textContent = "비밀번호가 서로 일치하지 않습니다.";
                e.preventDefault();
            }
        });
    </script>
</th:block>
</html>